.navbar {
  background-color: #007399;
  color: #ffbb99;
}

a {
  color: #ffbb99;
}

a:hover {
  color: #999999;
}

#logo {
  width: 50px;
  height: 50px;
}

.app-name {
  color: #EEECEA;
  font-size: 32px;
  font-family: "lobster two";
  margin-right: 20px;
}