body {
    background-color: #EEECEA;
}

h1 {
    font-size: 32px;
    /* font-family: "Righteous"; */
    font-family: 'Josefin Sans'; 
}

p   {
    font-family: 'Josefin Sans'
}

.page-header {
    margin-top: 20px;
}

.othIngrTB {
    margin-left: 40px;
    width: 253px;
}

#swALL {
    margin-left: 12px;
}
 
#swCHK {
    margin-left: 8px;
}

#button-addon2 {
    background-color: #008dbb;
}

#button-addon2:hover {
    background-color: #007399;
}

/* Favorite Icon styling */
.fa, 
.fa-heart {
    color: grey;
  }

  .fa:hover {
    color: red;
  }

  .favorited {
    color: red;
}